version: "3.8"
services:
  nginx:
    image: nginx
    volumes:
      - ./ssl:/etc/ssl
      - ./nginx/conf.d/:/etc/nginx/
      - ./targetted-client/dist:/front
      - ./images:/front/images
    ports:
     - "80:80"
     - "443:443"
    environment:
     - NGINX_HOST=targetted.online
     - NGINX_PORT=80
    links:
     - "targetted-back:back"

  postgres-targetted:
    image: "postgres:alpine"
    environment:
      - POSTGRES_PASSWORD=example
    ports:
      - "5432:5432"
    #   Set a volume for data and initial sql script
    #   May configure initial db for future demo
    volumes:
      - "pgdata_targetted:/var/lib/postgresql/data"
    command: ["postgres", "-c", "log_statement=all"]

  targetted-back:
    build: ./targetted-back/
    command: ./targetted-back
    image: targetted-back
    env_file: ./targetted-back/.env.dev
    volumes:
      - ./images:/images
    ports:
      - "8080:8080"
    environment:
      - ENV=dev
    depends_on:
      - postgres-targetted
volumes:
  pgdata_targetted: