@import 'vars';
@import 'generic';

.app-new-button-main {
    flex-direction: row;
    align-items: flex-start;
    padding: 9px 24px 11px;
    height: 44px;
    background: $lime;
    border-radius: 6px;
    border: none;
    color: $black;
    text-align: left;
    margin-bottom: 20px;
}
.app-new-submit-button {
    margin-top: 20px;
    background: $lime;
    border-radius: 6px;
    border: none;
    color: $black;
    padding: 9px 24px 11px;
    height: 44px;
    margin-bottom: 20px;
}
.col-form-label {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}

.app-new-action-text {
    color: $violet;
}

.app-new-info {
    color: $gray;
    text-align: left;
    a {
        color: $gray;
        text-decoration: underline !important;
    }
}

.app-new-form-input-small {
    max-width: 90%;
}

.app-new-login-sub {
    text-align: left;
    a {
        color: $violet;
    }
}

.input-group {
    margin-left: 0px !important;;
}

.app-new-form-footer {
    text-align: left;
}

h1 {
    font-size: 32px;
    line-height: 38px;
}

.app-new-button-main[disabled] {

}
