@import 'vars';

.creative-message {
    margin: 28px 0px 40px 0px;
    padding: 40px;
    width: 800px;
    height: 128px;
    background: $light;
    border-radius: 20px;
}
@media (max-width: 722px) {
    .creative-message{
        width: auto!important;
        height: auto!important;
        padding: 25px!important;
    }
}
