@import 'vars';
@import 'generic';

.app-new-button-main {
    font-family: 'IBM Plex Sans', sans-serif !important;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 28px !important;
    height: 44px;
    background: $lime;
    border-radius: 6px;
    border: none;
    color: $black;
    text-align: left;
    margin-bottom: 20px;
}
h3.app-new-header {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: $black;
}
.app-new-button-sm {
    padding: 7px 16px;
    border: none !important;
    font-family: Montserrat !important;
    font-style: normal !important;
    font-weight: 600 !important;
    background: #F3F3F3 !important;
    color: black !important;
    outline: none !important;
    border-radius: 8px !important;
}
.app-new-small-text-fit {
    padding-left: 0;
    padding-right: 0;
    & .text-muted {
        font-size: 14px;
        line-height: 18px;
    }
}
.app-new-submit-button {
    background: $lime;
    border-radius: 6px;
    border: none;
    color: $black;
    padding: 9px 24px 11px;
    height: 44px;
    &.less-padding {
        padding: 9px 8px 11px;
    }
}
.col-form-label {
    font-style: normal;
    font-weight: bold;
    font-size: $baseFont;
    line-height: $baseLH;
}

.app-new-action-text {
    color: $violet;
}

.app-new-info {
    color: $gray;
    text-align: left;
    a {
        color: $gray;
        text-decoration: underline !important;
    }
}

.app-new-form-input-small {
    max-width: 90%;
}

.app-new-login-sub {
    text-align: left;
    a {
        color: $violet;
    }
}

.input-group {
    margin-left: 0px !important;;
}

.app-new-form-footer {
    text-align: left;
}

h1 {
    font-size: 32px;
    line-height: 38px;
}

.app-new-button-main[disabled] {

}
