@import 'vars';
@import 'generic';
@import 'blocks';

.app-new-button-main {
    font-family: 'IBM Plex Sans', sans-serif !important;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 28px !important;
    height: 44px;
    background: $lime;
    border-radius: 6px;
    border: none;
    color: $black;
    text-align: left;
    margin-bottom: 20px;
}
h3.app-new-header {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: $black;
}
.app-new-button-sm {
    padding: 0px 16px;
    font-size: 14px;
    border: none !important;
    font-style: normal !important;
    font-weight: 500;
    background: #F3F3F3 !important;
    color: black !important;
    outline: none !important;
    border-radius: 8px !important;
    height: 32px;
}
.app-new-small-text-fit {
    padding-left: 0;
    padding-right: 0;
    & .text-muted {
        font-size: 14px;
        line-height: 18px;
    }
}

.error-message{
    position: absolute;
    color: #FF2F12;
    font-style: normal;
  }

.form-control{
    width: 640px !important;

    &.is-invalid {
        background-color: #FFE9E9 !important;
        background-image:none;
    }
    &.is-valid {
        background-image:none;
    }
}
@media(max-width: 600px){
    .form-control{
        width: 100% !important;
    }
}

.app-new-submit-button {
    background: $lime;
    border-radius: 6px;
    border: none;
    color: $black;
    padding: 9px 24px 11px;
    height: 44px;

    &:hover {
        background:$activeLime;
        color: $black;
    }
    &.less-padding {
        padding: 9px 8px 11px;
    }
    &.disabled-look {
        background: #F0FF87;
        color: #777;
    }
}
@media (min-width: 600px) {
    .app-new-submit-button, .btn.main-button-grey {
        padding: 9px 32px 11px;
        height: 48px;
    }
}

.col-form-label {
    font-style: normal;
    font-weight: bold;
    font-size: $baseFont;
    line-height: 14px;
    margin-bottom: 16px;
}

.app-new-action-text {
    color: $violet;
}

.app-new-info {
    color: $gray;
    text-align: left;
    line-height: 18px;
    font-size: 14px;
    a {
        color: $gray;
        text-decoration: underline !important;
    }
}

.app-new-form-input-small {
    max-width: 90%;
}

.app-new-login-sub {
    text-align: left;
    a {
        color: $violet;
        &:hover {
            color: $activeVolet;
        }
    }
}

.input-group {
    margin-left: 0px !important;;
    text-align: left;
    margin: 32px 20px 32px 20px !important;
}

.app-new-form-footer {
    text-align: left;
}

h1#h2 {
    font-size: 56px;
    margin-bottom: 18px;
    margin-top: 6px;
    line-height: 60px;
}
#input-group-main{
    margin-top: 18px;
    color: $black;
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: normal;
    font-weight: 400;
    font-size: 1em;
}

@media (max-width: 600px) {
    #input-group-main{
        display:grid;
    }
    #h1-centered {
      font-size: 36px;
      line-height: 44px;
    }
    h1 {
      font-size: 32px !important;
      line-height: 38px !important;
    }
    #h2 {
      font-size: 24px;
      line-height: 32px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
}

.app-new-button-main[disabled] {

}

.app-new-radio {
    .custom-control.custom-control-inline.custom-radio {
        min-height: 45px;
    }
    .custom-control-input {
        display: none;
    }
    .custom-control-input + label {
        -webkit-appearance: none;
        background-color: $light;
        border: 5px solid $light;
        border-radius: 26px;
        width: 100%;
        display: inline-block;
        position: relative;
        width: 20px;
        height: 20px;
        line-height: 10px;
    }
    
    .custom-control-input:checked + label {
        background: $black;
        border: 5px solid $light;
    }

    .custom-control-input + label span {
        margin-left: 26px;
        min-width: 270px;
        display: inline-block;
    }
}

