@import 'vars';
@import 'generic';
@import 'blocks';

h1 {
    margin-bottom: 16px;
    font-size: 56px !important;
    line-height: 60px !important;
}

h2 {
    font-size: 24px !important;
    line-height: 30px !important;
    font-weight: bold;
}

.step {
    max-width: 580px;
    width: 100%;
}
.step__col{
    max-width: 580px;
    width: 100%;
    margin-right: 75px;
    padding: 0;
    margin-left:  calc(var(--bs-gutter-x) / 2);
}

.app-new-button-main {
    font-family: 'IBM Plex Sans', sans-serif !important;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 28px !important;
    height: 44px;
    background: $lime;
    border-radius: 6px;
    border: none;
    color: $black;
    text-align: left;
    margin-bottom: 20px;
}

.app-new-button-sm {
    padding: 7px 16px;
    font-size: 14px;
    border: none !important;
    font-style: normal !important;
    font-weight: 500;
    background: #F3F3F3 !important;
    color: black !important;
    outline: none !important;
    border-radius: 6px !important;
    height: 32px;
    margin-right: 8px;
    line-height: 18px !important;
    display: flex;
    align-items: center;
}

.app-new-button-sm:last-child {
    margin-right: 0;
    width: 73px;
}
.app-new-button-sm:nth-child(2){
    width: 170px;
}
.app-new-button-sm:nth-child(1){
    width: 48px;
}

.app-new-small-text-fit {
    padding-left: 0;
    padding-right: 0;
    & .text-muted {
        font-size: 14px;
        line-height: 18px;
    }
}

.error-message{
    color: #FF2F12;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    margin-top: 8px;
    display: block;
}

input.form-input,
textarea.form-input {
    padding-left: 16px !important;
}

.form-control {
    width: 580px;

    &.is-invalid {
        background-color: #FFE9E9 !important;
        background-image:none;
    }

    &.is-valid {
        background-image:none;
    }
}

.app-new-submit-button {
    background: $lime;
    border-radius: 6px;
    border: none;
    color: $black;
    padding: 9px 24px 11px;
    height: 44px;

    &:hover {
        background:$activeLime;
        color: $black;
    }

    &.less-padding {
        padding: 9px 8px 11px;
    }

    &.disabled-look {
        background: #F0FF87;
        color: #777;
    }
}

.col-form-label {
    font-style: normal;
    font-weight: bold;
    font-size: $baseFont;
    line-height: 14px;
    margin-bottom: 10px;
}

.app-new-action-text {
    color: $violet !important;
}

.app-new-info,
.app-new-info__bottom {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    margin: 0;
    color: $gray;
    a {
        color: $gray;
        text-decoration: underline !important;
    }
}

.app-new-info {
    margin-bottom: 12px;
}

.app-new-info__bottom {
    margin-top: 8px;
}

.app-new-form-input-small {
    max-width: 90%;
}

.app-new-login-sub {
    text-align: left;
    a {
        color: $violet;
        &:hover {
            color: $activeVolet;
        }
    }
}

.input-group {
    text-align: left;
    margin: 32px 20px;
}

.app-new-form-footer {
    text-align: left;
}

#input-group-main{
    margin-bottom: 28px;
    color: $black;
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    width: 100%;
}

@media (max-width: 600px) {
    #input-group-main{

    }

    #h1-centered {
      font-size: 36px;
      line-height: 44px;
    }

    h1 {
      font-size: 32px !important;
      line-height: 38px !important;
    }

    #h2 {
      font-size: 24px;
      line-height: 32px;
      margin-top: 0;
      margin-bottom: 0;
    }
}

.app-new-button-main[disabled] {

}

.app-new-radio {
    .custom-control.custom-control-inline.custom-radio {
        min-height: 41px;
    }
    .custom-control-input {
        display: none;
    }
    .custom-control-input + label {
        -webkit-appearance: none;
        background-color: $light;
        border: 5px solid $light;
        border-radius: 26px;
        display: inline-block;
        position: relative;
        width: 20px;
        height: 20px;
        line-height: 10px;
    }

    .custom-control-input:checked + label {
        background: $black;
        border: 5px solid $light;
    }

    .custom-control-input + label span {
        margin-left: 28px;
        min-width: 260px;
        display: inline-block;
    }
}
@media(max-width: 1008px){
    .step__col {
        margin-right: 0;
    }
}
@media(max-width: 600px){
    .step {
        width: 100%;
        margin-right: 0;
    }
    .step__col{
        width: 100%;
        margin-right: 0;
    }
}
