p, label, button, .app-header, .error-message {
    font-family: 'IBM Plex Sans', sans-serif !important;
    // font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, IBM Plex Sans  !important;
    // font-style: normal;
    // font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}
.clickable {
    cursor: pointer;
}

.ml-2 {
    margin-left: 2em;
}
.ml-0 {
    margin-left: 0;
}
@media (min-width: 576px) { 
    .ml-lg-2 {
        margin-left: 2em;
    }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    .ml-lg-2 {
        margin-left: 2em;
    }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .ml-lg-2 {
        margin-left: 2em;
    }
 }
