//colors
$lime: #E2FF12;
$activeLime: #DBF812;
$violet: #6C1BD2;
$activeVolet: #5212A3;
$pink: #FF62B7;
$orange: #FFCB12;

$gray: #767676;
$light: #F3F3F3;
$rectangle : #EAEAEA;
$black: #000;
$white: #fff;

//sizes
$baseFont: 16px;
$baseLH: 24px;