name: Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.17
    
    - name: Install Task
      uses: arduino/setup-task@v1

    - name: Install Lint
      run: go get github.com/golangci/golangci-lint/cmd/golangci-lint@v1.42.0

    - name: Build
      run: task build-go

    - name: Lint
      run: task lint-go
  
    - name: Test
      run: task test-go
